:root {
    --primary: #00595d;
    --primary-container: #0d8186;
    --on-primary: #ffffff;
    --on-primary-container: #ffffff;
    --secondary: #436466;
    --secondary-container: #c7eaec;
    --on-secondary: #ffffff;
    --on-secondary-container: #2d4e50;
    --tertiary: #775a00;
    --tertiary-container: #ecb92f;
    --on-tertiary: #ffffff;
    --on-tertiary-container: #402f00;
    --surface: #eef1f1;
    --on-surface: #2d3131;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

body {
    background-color: var(--surface);
    color: var(--on-surface);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: var(--primary);
    color: var(--on-primary);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    height: 50px;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {
    color: var(--on-primary);
    text-decoration: none;
    margin-left: 1rem;
}

nav a:hover {
    color: var(--secondary-container);
}

main {
    padding: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#places-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer {
    background-color: var(--primary);
    color: var(--on-primary);
    text-align: center;
    padding: 1rem;
    width: 100%;
}

.place-card, .review-card, .add-review {
    background-color: var(--secondary-container);
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--secondary);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.place-card img.place-image, .place-details img.place-image-large {
    width: 100%;
    border-radius: 10px;
}

.place-card h2, .place-details h1 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.place-card p, .place-details p {
    margin: 10px 0;
}

button, .details-button {
    background-color: var(--tertiary-container);
    color: var(--on-tertiary-container);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.details-button:hover, button:hover {
    background-color: var(--tertiary);
    color: var(--on-tertiary);
}

.place-details {
    margin-bottom: 2rem;
}

.place-info ul {
    list-style-type: none;
    padding: 0;
}

.place-info ul li {
    margin: 5px 0;
}

.add-review .form {
    display: flex;
    flex-direction: column;
}
